*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style-type: none;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #011538;
  color: white;
  transition: 500ms ease all;
}
.container {
  position: relative;
  margin: 0px 50px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  border-bottom: 2px solid white;
}
.header-left {
  position: relative;
  height: 150px;
  width: 150px;
}
.header-left img {
  width: 100%;
  position: absolute;
  transition: 400ms all ease;
}
.img-light-version {
  opacity: 1;
}
.img-dark-version {
  opacity: 0;
}
.header-right {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
}
.animationDown {
  list-style-type: none;
  margin-right: 50px;
  cursor: pointer;
  position: relative;
  font-weight: bold;
}
.animationDown::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #0063dc;
  bottom: -64px;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  opacity: 0.5;
  transition: opacity 200ms ease, transform 200ms ease-in-out;
}
.animationDown:hover::after {
  transform: scaleX(1);
  opacity: 1;
}
.imgArrow {
  position: absolute;
  filter: brightness(1);
  transform: rotate(90deg);
  width: 20px;
  bottom: 2px;
  right: -33px;
  transform: 400ms all ease;
}

.client-group-btn i {
  width: 25px;
  margin-right: 20px;
  transition: 400ms ease all;
}
.loupe-dark-version {
  color: #011538;
}
.client-group-btn i:hover {
  color: #0063dc;
}
.client-group-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.client-group-btn a {
  font-size: 18px;
  text-decoration: none;
  padding: 0.7em 1.2em;
  font-weight: bold;
  transition: all 400ms ease;
  text-transform: uppercase;
}
.btnContact {
  color: white;
  border: 2px solid white;
}
.client-group-btn a:hover:not(:nth-child(2)) {
  background-color: white;
  color: #0063dc;
}

.client-group-btn :nth-child(2) {
  background-color: #0063dc;
  color: white;
  border: none;
  transition: all 400ms ease;
}
.client-group-btn :nth-child(2):hover {
  opacity: 0.5;
}
.client-group-btn a:not(:nth-child(4)) {
  margin-right: 20px;
}

.swapWhiteHeader {
  background-color: white;
}
.swapWhiteBtns {
  border: 2px solid #011538;
  color: #011538;
}
.swapWhiteLinks {
  color: #011538;
}

.sous-liste {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: #0063dc;
  padding: 1em 0.5em 1em;
  top: 88px;
  width: 300px;
  animation: openSousListe 200ms forwards;
  transform: scaleY(0) scaleX(0);
  transform-origin: top left;
  height: auto;
}
@keyframes openSousListe {
  to {
    transform: scaleY(1) scaleX(1);
  }
}

.animationDown:hover .sous-liste {
  display: flex;
}
.linkOpenListe {
  padding-bottom: 80px;
}
.sous-item:hover {
  opacity: 0.8;
}

.main {
  position: relative;
  z-index: -2;
  margin-top: 150px;
}
.article1 {
  position: relative;
}
.containerImg {
  position: relative;
}
.title {
  position: absolute;
  top: 50%;
  font-size: 3em;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.title::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: white;
  left: 0;
  bottom: 0;
  transform-origin: center;
  transform: scaleX(0);
  animation: underlineTitle 500ms 6000ms forwards;
}
@keyframes underlineTitle {
  to {
    transform: scaleX(1);
  }
}
.meduse {
  width: 100%;
  object-fit: cover;
  max-height: 1000px;
}
