*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style-type: none;
}
body {
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #011538;
  color: white;
  transition: 500ms ease all;
  z-index: 500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.container {
  position: relative;
  margin: 0px 50px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  border-bottom: 2px solid white;
}
.header-left {
  position: relative;
  height: 150px;
  width: 150px;
}
.header-left img {
  width: 100%;
  position: absolute;
  transition: 400ms all ease;
}
.img-light-version {
  opacity: 1;
}
.img-dark-version {
  opacity: 0;
}
.header-right {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
}
.burger {
  color: white;
  font-size: 30px;
  margin-right: 1em;
  display: none;
  cursor: pointer;
  transform: scale(1.1);
}

.container-nav-resp {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  height: 100vh;
  background-color: #0063dc;
  padding: 2em;
  font-size: 1.5em;
  transition: 100ms ease-in all;
  transform: translateX(100%);
}
.container-nav-resp.active {
  display: block;
  transition: 100ms ease-in all;
  transform: translateX(0px);
}
.top-nav-resp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  font-weight: bold;
}
.top-nav-resp i {
  transform: scale(1.5);
  cursor: pointer;
}
.body-nav-resp {
  margin-top: 1em;
}
.body-nav-resp h3 {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 0.5em;
}

.top-nav-resp a:hover,
.body-nav-resp a:hover {
  color: #011538;
}
@media (max-width: 1550px) {
  nav ul {
    display: none;
  }
  .burger {
    display: block;
  }
}

.animationDown {
  list-style-type: none;
  margin-right: 50px;
  cursor: pointer;
  position: relative;
  font-weight: bold;
}
.animationDown::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #0063dc;
  bottom: -64px;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  opacity: 0.5;
  transition: opacity 200ms ease, transform 200ms ease-in-out;
}
.animationDown:hover::after {
  transform: scaleX(1);
  opacity: 1;
}
.imgArrow {
  position: absolute;
  filter: brightness(1);
  transform: rotate(90deg);
  width: 20px;
  bottom: 2px;
  right: -33px;
  transform: 400ms all ease;
}

.client-group-btn i {
  width: 25px;
  margin-right: 20px;
  transition: 400ms ease all;
}
.loupe-dark-version {
  color: #011538;
}
.client-group-btn i:hover {
  color: #0063dc;
}
.client-group-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.client-group-btn a {
  font-size: 18px;
  text-decoration: none;
  padding: 0.7em 1.2em;
  font-weight: bold;
  transition: all 400ms ease;
  text-transform: uppercase;
}
.btnContact {
  color: white;
  border: 2px solid white;
}
.client-group-btn a:hover:not(:nth-child(2)) {
  background-color: white;
  color: #0063dc;
}

.client-group-btn :nth-child(2) {
  background-color: #0063dc;
  color: white;
  border: none;
  transition: all 400ms ease;
}
.client-group-btn :nth-child(2):hover {
  opacity: 0.5;
}
.client-group-btn a:not(:nth-child(4)) {
  margin-right: 20px;
}

.swapWhiteHeader {
  background-color: white;
}
.swapWhiteBtns {
  border: 2px solid #011538;
  color: #011538;
}
.swapWhiteLinks {
  color: #011538;
}

.sous-liste {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: #0063dc;
  padding: 1em 0.5em 1em;
  top: 88px;
  width: 300px;
  animation: openSousListe 200ms forwards;
  transform: scaleY(0) scaleX(0);
  transform-origin: top left;
  height: auto;
}
@keyframes openSousListe {
  to {
    transform: scaleY(1) scaleX(1);
  }
}

.animationDown:hover .sous-liste {
  display: flex;
}
.linkOpenListe {
  padding-bottom: 80px;
}
.sous-item {
  color: white;
  line-height: 40px;
}
.sous-item:hover {
  opacity: 0.8;
}

.main {
  margin-top: 150px;
}

.containerImg {
  position: relative;
}
.title {
  position: absolute;
  top: 50%;
  font-size: 3em;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.title::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: white;
  left: 0;
  bottom: 0;
  transform-origin: center;
  transform: scaleX(0);
  animation: underlineTitle 500ms 6000ms forwards;
}
@keyframes underlineTitle {
  to {
    transform: scaleX(1);
  }
}
.meduse {
  width: 100%;
  object-fit: cover;
  max-height: 1000px;
}

.article2 {
  padding-top: 3rem;
  width: 90%;
  margin: 0 auto;
}
.card-title {
  position: relative;
}
.card-title::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 20px;
  background-color: #0063dc;
  left: 0px;
  top: 0px;
}
.card-title h3 {
  font-size: 2em;
  margin-left: 30px;
  color: #011538;
}
.containerCards {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(6, minmax(10%, auto));
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 40px;
}

.card {
  height: 300px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: 500ms ease transform;
  transform: scale(0);
}
.card.active {
  transform: scale(1);
}
.card1::before {
  content: "";
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background-color: #011538;
  transition: 200ms all ease;
}
.card1 {
  background: url("/ressources/axolot.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: 1/1/2/3;
}
.card2 {
  grid-area: 1/3/2/5;
  background: url("/ressources/dumbo.jpg") no-repeat;
  background-position: right;
  background-size: cover;
}
.card2::before {
  content: "";
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background-color: #5ad0c6;
  transition: 200ms all ease;
}
.card3 {
  background: url("/ressources/hippocampe.jpg") no-repeat;
  background-position: right;
  background-size: cover;
  grid-area: 1/5/2/7;
}
.card3::before {
  content: "";
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background-color: #ffc800;
  transition: 200ms all ease;
}
.card4 {
  background: url("/ressources/lamantin.jpg") no-repeat;
  background-position: right;
  background-size: cover;
  grid-area: 2/1/3/4;
}
.card4::before {
  content: "";
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background-color: #ffc800;
  transition: 200ms all ease;
}
.card5 {
  background: url("/ressources/raimanta.jpg") no-repeat;
  background-position: right;
  background-size: cover;
  grid-area: 2/4/3/7;
}
.card5::before {
  content: "";
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background-color: #011538;
  transition: 200ms all ease;
}
.card:hover.card::before {
  opacity: 0.3;
}
.card-content {
  position: absolute;
  color: wheat;
  top: 240px;
  transition: 200ms all cubic-bezier(0.46, 0.22, 0.91, 0.99);
}
.card:hover .card-content {
  top: 50%;
}
.content-card a {
  font-weight: bold;
}
.card-content-title {
  display: flex;
  align-items: center;
}
.card-content-title i {
  color: white;
  font-size: 50px;
}
.card-content-title h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 20px;
  color: white;
}
.card-content-description {
  margin-top: 1em;
  font-size: 14px;
}
.card-content-description a {
  color: #0063dc;
  display: block;
  margin-top: 1em;
}

.article3 {
  margin-top: 500px;
  max-width: 90%;
  margin: 5rem auto 5rem;
}
.article3 h2 {
  display: block;
  position: relative;
  font-size: 2em;
  margin-left: 30px;
  color: #011538;
  margin-bottom: 6rem;
}

.article3 h2::before {
  content: "";
  position: absolute;
  top: 16px;
  left: -28px;
  width: 20px;
  height: 20px;
  background-color: #0063dc;
}

.container-formation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.formation-text,
.formation-img {
  width: 50%;
  height: 400px;
}

.formation-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.formation-img {
  transform: translateX(-100px);
  transition: 200ms ease-in all;
  opacity: 0;
}
.formation-text {
  padding-right: 10%;
}
.formation-img.active {
  transform: translateX(0px);
  opacity: 1;
}
.formation-text.active {
  transform: translateX(0px);
  opacity: 1;
}
.formation-text p {
  display: block;
}
.formation-content1 {
  font-size: 1.5em;
  color: #011538;
  font-weight: bold;
  margin-bottom: 1em;
}
.formation-content2 {
  font-size: 1em;
  margin-bottom: 1em;
}
.formation-content2 em {
  font-weight: bold;
}
.formation-content3 {
  font-size: 0.8em;
}
footer {
  background-color: #011538;
  color: white !important;
  width: 100%;
  padding-left: 20px;
  padding-bottom: 4em;
}
.footer-img {
  width: 200px;
  height: 200px;
  margin-bottom: 2em;
}
.footer-img img {
  width: 100%;
  object-fit: cover;
}
footer ul li {
  color: white !important;
  line-height: 2em;
  transition: 200ms all ease-in-out;
}
footer ul li a:hover {
  color: #0063dc !important;
}
.container-footer-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
}
.container-footer-info div {
  width: 30%;
}
@media (max-width: 1000px) {
  .navbar {
    order: 2;
  }
  .client-group-btn i {
    order: 3;
    margin-left: 10px;
  }
  .client-group-btn a {
    font-size: 12px;
  }
  .header-left {
    margin-right: 50px;
  }
}
